.button{
    border-radius: 6px;
    background: transparent;
    padding: 18px 48px;
    color: #fff;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

     
}

.button:hover{
    background: #fff;
    color: #000;
    border: 2px solid black;
}